---

- name: Export ip to bashrc
  shell: sudo sed -i '$ a export NOMAD_ADDR=http://{{server_ip}}:{{nomad_server_port}}' .bashrc

- name: Prometheus template
  template: 
    src: jobs.sh.j2
    dest: /opt/nomad/prometheus.hcl
  vars:
    myTemplateVariable: File1


