---
- name: Create server dir in opt
  file:
    path: /etc/nomad/server
    state: directory
    mode: '0755'
  notify: Change IP of server

- name: Change IP of server
  lineinfile:
    path: /etc/nomad.d/nomad.hcl
    regexp: '0.0.0.0'
    line: bind_addr = "{{ server_ip }}"
  notify: Change data_dir

- name: Change data_dir
  lineinfile:
    path: /etc/nomad.d/nomad.hcl
    regexp: '/data'
    line: data_dir = "/opt/nomad/server"
  notify: Change servers in client

- name: Change servers in client
  lineinfile:
    path: /etc/nomad.d/nomad.hcl
    regexp: '127.0.0.1'
    line: servers = ["{{ server_ip }}:4646"]
  notify: Add log_level

- name: Add log_level
  lineinfile:
    path: /etc/nomad.d/nomad.hcl
    line: log_level = "DEBUG"
    insertbefore: 'bind_addr'
    create: yes
  notify: started nomad

- name: started nomad
  service:
    name: nomad
    state: started