scrape_configs:
  - job_name: 'telemetry'
    consul_sd_configs:
      - server: '192.168.2.15:8500'
        services: ['nomad-client']
    relabel_configs:
      - source_labels: [__meta_consul_tags]
        regex: '(.*)http(.*)'
        action: keep
      - source_labels: [__meta_consul_service]
        target_label: job
      - source_labels: [__address__]
        action: replace
        regex: ([^:]+):.*
        replacement: $1:9100
        target_label: __address__