---
- group: server
  vars_files:
    - /group_vars/servers.yml

- name: Uncomment server
  lineinfile:
    path: /etc/consul.d/consul.hcl
    regexp: '#server = true'
    line: server = true
  notify: Uncomment bootstrap

- name: Uncomment bootstrap
  lineinfile:
    path: /etc/consul.d/consul.hcl
    regexp: '#bootstrap_expect=3'
    line: bootstrap_expect=1
  notify: Add bind_addr

- name: Add bind_addr
  lineinfile:
    path: /etc/consul.d/consul.hcl
    line: bind_addr = "{{ server_ip }}"
    insertafter: '#retry_join'
    create: yes
  notify: started consul

- name: started consul
  service:
    name: consul
    state: started